.hero-container-home {
    height: auto;
    padding-top: 0px;
}

.homegridtitle{
    position: absolute;
    width: 100%;
    margin-top:35px;
    font-size: 20px;
    text-align: center;
}

.homegridtitle:hover {
    display: none !important;
}

.properties {
    background-image: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)),
    url('../img/sitemap.jpg');
    color: white !important;
}

.leisure {
    background-image: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url('../img/leimain.jpg');
    background-size: cover;
    /* background-position: right 0px bottom 0px; */
    background-repeat: no-repeat;
    color: white !important;
}

.amenities {
    background-image: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url('../img/amenmain.JPG');
    background-size: cover;
    /* background-position: right 0px bottom 0px; */
    background-repeat: no-repeat;
    color: white !important;
}

.health-centre {
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../img/healthcentre.jpg');
    background-size: cover;
    padding: 50px 25px;
    background-position: right 0px bottom -50px;
    background-repeat: no-repeat;
    color: white !important;
}

.mall {
    background-image: linear-gradient( rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)), url('../img/mall.jpg');
    background-size: cover;
    padding: 50px 25px;
    background-position: right 0px bottom -50px;
    background-repeat: no-repeat;
    color: white !important;
}



.contacts {
    background-image: linear-gradient( rgba(0, 0, 0, .3), rgba(0, 0, 0, .5)), url('../img/tel.jpeg') !important;
    background-size: cover;
    background-position: right 0px bottom 0px;
    background-repeat: no-repeat;
    color: white !important;
}

.overlay:before{
    background-color: rgba(255, 255, 255, .1) !important;
}

.cpb-item-important {
    width: 250px !important;
}

.home-ul li {
    color: #fff;
    font-weight: 400;
}

.home-gallery {
    padding: 15px;
}
.home-gallery div{
    padding: 0px;
}

.bg-amen div {
    height: 200px;
}

#amenitieslist
 {
     display: inline-block !important;
 }

#amenitieslist ul {
    display: inline-block !important;
}

#amenitieslist li {
    list-style: circle !important;
    text-align: left !important;
}




