        <section data-map-coordinates="4.950888, 6.269623" data-marker-coordinates="4.949138, 6.2696264" data-info="Castle Hotel & Spa"
    id="map" class="map-style-3 height400">

</section>
        <footer id="footer-1">

            {# <div class="footer-columns">
                <div class="container">
                    <div class="row">

                        <div class="col-md-3">
                            <h4 class="subheading">About Us</h4>
                            <p>The New Yenagoa City is a PPP initiative by the Government of Bayelsa State, led by H.E Henry Seriake Dickson, Governor of Bayelsa State.</p> 
                        </div>

                        <div class="col-md-3">
                            <h4 class="subheading">Recent Posts</h4>
                            <ul class="footer-recent-posts">
                                <li><a href="blog-post-carousel.html">Branding Inspiration From Wander</a><span class="recent-post-date">June 4, 2015</span></li>
                                <li><a href="blog-post-video.html">Final Kickstarter Week - Vote for Cover</a><span class="recent-post-date">June 4, 2015</span></li>
                                <li><a href="blog-grid.html">Awesome Guide to Perfect Posts</a><span class="recent-post-date">June 4, 2015</span></li>
                            </ul>
                        </div>

                        <div class="col-md-3">
                            <h4 class="subheading">Latest Tweets</h4>  
                            <div id="twitter-feed" data-twitter-widget-id="455427632419442688"></div> 
                        </div>

                        <div class="col-md-3">
                            <h4 class="subheading">Instagram</h4>
                            <div id="instagram-feed" data-instagram-username="vossen_inc"><ul></ul></div>
                        </div>

                    </div>
                </div>  
            </div> #}

            <div class="footer-copyright">
                <div class="container">
                    <div class="row">

                        <div class="col-md-6 col-sm-12">
                            <p>© 2018 <a href="{{'/'}}" class="logo">New Yenagoa City</a> All Rights Reserved. </p>
                        </div>
                        <div class="col-md-6 col-sm-12">
                            <ul class="social-icons">
                                <li><a href="#"><i class="icon ion-social-facebook"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-twitter"></i></a></li> 	 
                                {# <li><a href="#"><i class="icon ion-social-pinterest"></i></a></li>   #}
                                <li><a href="#"><i class="icon ion-social-linkedin"></i></a></li>   
                                <li><a href="#"><i class="icon ion-social-youtube"></i></a></li>
                                <li><a href="#"><i class="icon ion-social-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </footer>