<!-- Start Header -->
        <nav class="navbar navbar-default fullwidth transparent">
            <div class="container">
                
                <div class="navbar-header">
                    <div class="container">
                        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar top-bar"></span>
                            <span class="icon-bar middle-bar"></span>
                            <span class="icon-bar bottom-bar"></span>
                        </button>
                        <a class="navbar-brand" href="{{'/'}}"><img src="{{'assets/img/nyc.png'|theme}}" class="logo-light" alt="#"><img src="{{'assets/img/nyc-dark.png'|theme}}" class="logo-dark" alt="#"></a> 
                    </div>
                </div>

                <div id="navbar" class="navbar-collapse collapse">
                    <div class="container">
                        <ul class="nav navbar-nav menu-right">
                        
                            <li>
                                <a href="{{'/'}}">Home</a>    
                            </li> 
                            
                            <li><a href="{{'/properties'}}">Properties</a> 
                            </li>
                            
                            <li><a href="{{'/leisure'}}">Leisure</a> 
                            </li>
                            
                            <li><a href="{{'/amenities'}}">Amenities</a> 
                            </li> 
                            <li><a href="{{'/contact'}}">Contact us</a> 
                            </li>    
                        </ul>
                        
                    </div>
                </div> 
            </div>
        </nav>
        <!-- End Header -->