<!DOCTYPE html>
<html lang="en">
    <head>  
        <meta charset="utf-8">
        <title>NYC.ng {{ this.page.title }}</title>
        <meta name="description" content="{{ this.page.meta_description }}">
        <meta name="title" content="{{ this.page.meta_title }}">
        <meta name="author" content="OctoberCMS">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="generator" content="OctoberCMS">
        <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
        <link href="{{'assets/css/plugins.css'|theme}}" rel="stylesheet" type="text/css">   
        <link href="{{'assets/css/theme.css'|theme}}" rel="stylesheet" type="text/css">   
        <link href="{{'assets/css/ionicons.min.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/et-line-icons.css'|theme}}" rel="stylesheet" type="text/css">
        <link href="{{'assets/css/themify-icons.css'|theme}}" rel="stylesheet" type="text/css"> 
        <link href="{{'assets/fonts/lovelo/stylesheet.css'|theme}}" rel="stylesheet" type="text/css">
        <link href='https://fonts.googleapis.com/css?family=Raleway:100,200,300,400%7COpen+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="{{'assets/css/custom.css'|theme}}" rel="stylesheet" type="text/css"> 
        <link href="{{'assets/css/colors/blue.css'|theme}}" id="color-scheme" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="{{'assets/lightbox/css/lightbox.css'|theme}}">
        <link rel="stylesheet" href="{{'assets/css/mystyle.css'|theme}}">
    </head>
    <body> 
        <!-- Header -->
       
        <!-- Content -->
            {% page %}
        <!-- Footer -->
       
         <!-- Scripts -->
        <!-- Scripts -->
        <script src="{{'assets/js/jquery.min.js'|theme}}"></script>
        <script src="{{'assets/js/plugins.js'|theme}}"></script>
        <script src="{{'assets/lightbox/js/lightbox.js'|theme}}"></script>
        <script src="{{'assets/js/scripts.js'|theme}}"></script>
        {% framework extras %}
        {% scripts %}
    </body>
</html>
