title = "Amenities"
url = "/amenities"
layout = "default"
==

<section id="features" class="pt130 pb110 amenities">
    <div class="container">
        <div class="row">

            <div class="col-md-8 section-heading pb0">
                <h2 style="color: white">NYC Amenities</h2>
                <hr class="separator">
            </div>

            <div class="col-md-10 mr-auto text-center">
                <div class="icon-tabs-centered">

                    {#
                    <ul id="iconTabs" class="nav nav-tabs nav-tabs-center">
                        <li class="active">
                            <a href="#tab-i1" data-toggle="tab">
                                <span class="icon-tab ion-ios-flask-outline"></span>
                                <span>Experiences</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab-i2" data-toggle="tab">
                                <span class="icon-tab ion-ios-bolt-outline"></span>
                                <span>Capabilities</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab-i3" data-toggle="tab">
                                <span class="icon-tab ion-ios-infinite-outline"></span>
                                <span>Our Strategy</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab-i4" data-toggle="tab">
                                <span class="icon-tab ion-ios-mic-outline"></span>
                                <span>Our Mission</span>
                            </a>
                        </li>
                    </ul> #}

                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="tab-i1" style="color: white">
                            <p style="color: white">The New Yenogoa City offers the following convenient features:
                                <br>
                                <b>A Heliport</b>,
                                <b>Shopping Mall</b> and
                                <b>a Health Centre</b>.
                            </p>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<section class="pt100 pb20">
    <div class="container">
        <div class="row">

            <div class="col-md-10 section-heading pb40">
                <h2>Heliport</h2>
                <hr class="separator">
                <i>The VIP Gateway to New Yenagoa City</i>
                <div>
                <p>The Bayelsa Heliport, built to NCAA standards, comprises 6 helipads and mini terminal specifically built
                    to process VIP travellers
                With safety being paramount, the heliport features radio communication, electronic weather systems, precision
                    approach park lighting (PAPI), standby water tankers, to subdue dust, supplemental oxygen, rescue crash
                    box, amongst others.
                    <br>
                    <br>This NAOC certified facility has the capacity to handle crew changeovers for Oil & Gas clientele. It
                    operates as a 24 hour schedule, making it suitable for medical and other emergency evacuations.</p>
            </div>


            </div>

            

            

        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="portfolio-no-gutter-fullwidth cbp" id="js-grid-no-gutter">
                    <div class="cbp-item print branding">
                        <a href="{{'assets/img/amen2.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/amen2.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print branding">
                        <a href="{{'assets/img/amen1.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/amen1.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print branding">
                        <a href="{{'assets/img/amen3.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/amen3.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
        <div class="col-md-10 section-heading pt50 pb0">
            <div>
                <p style="font-weight:400; color:#000">The heliport gives quick access to the facilities of the New Yenagoa City, including:</p>

                <ul id="amenitieslist">
                    <li>The Golf Course</li>
                    <li>The Housing Estates</li>
                    <li>The Castle Hotel & Spa</li>
                    <li>Government House</li>
                    <li>The upcoming Health Centre</li>
                </ul>
            </div>
        </div>
            
        </div>
        
        
    </div>
</section>

<section class="">
    <div class="container-fluid">
    <div class="row">
            <div class="col-md-6">
                <div>
                    <img class="img img-responsive" src="{{'assets/img/healthcentre.jpg'|theme}}" alt="">
                </div>
                <div style="padding:15px 40px">
                    <h3 style="">Health Centre</h3>
                <p style="">NYC Health Centre will cater to the medical needs of residents of the Golf Estate, The New GRA and River View Estate</p>
                </div>
                
            </div>
            <div class="col-md-6">
                 <div>
                    <img class="img img-responsive" src="{{'assets/img/mall.jpg'|theme}}" alt="">
                </div>
                <div style="padding:15px 40px">
                    <h3 style="">Shopping Mall</h3>
                <p style="">The Shopping Mall will be anchored by a large chain supermarket. Residents may register their interest in
                    leasing a shop space by sending an email to sales@nyc.ng</p>
                </div>
                
            </div>
          
        
            
            
            

    </div>
    </div>
</section>

