title="Golf Gallery"
url="/golf"
layout="default2"
==
<div class="portfolio-no-gutter-fullwidth cbp" id="js-grid-no-gutter">
                    <div class="cbp-item cbp-item-important print branding">
                        <a href="{{'assets/img/castle/1.JPG'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/1.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print branding">
                        <a href="{{'assets/img/castle/1.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/1.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print graphic">
                        <a href="{{'assets/img/castle/1.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/1.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design branding">
                        <a href="{{'assets/img/castle/1.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/1.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>