title = "Home"
url = "/"
layout = "default"
==
<section class="hero-fullscreen hero-video overlay parallax bg-img-1">

    {#
    <video youtube-video-id="rrNL9RlPDk0"></video> #}
    {# <video id="vossen-youtube" muted loop>
        <source src="{{'assets/img/homepage.mp4'|theme}}" type="video/mp4">
        <source src="movie.ogg" type="video/ogg">
        Your browser does not support the video tag.
    </video> #}
    <iframe id="vossen-youtube" src="https://player.vimeo.com/video/253609047?title=0&byline=0&portrait=0&color=ffffff&autoplay=1&loop=1&autopause=0"
        width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <div class="container">
        <div class="row" style="padding-top:5px">
            <div class="mr-auto text-center" style="margin: 0 auto;">
                <img class="img-responsive img-circle" style="display:inline-block; position:relative; z-index:1; width:15%" src="{{'assets/img/gov.jpg'|theme}}" alt=""><br>
                <i style="color:#fff; position:relative; z-index:1; font-size:10px">H.E. Seriake Dickson - Bayelsa State Governor</i>
            </div>
        </div>
    </div>
    <div class="hero-container hero-container-home">
        <div class="hero-content text-center">
            <div class="col-sm-12 mr-auto white text-center pt15">
            
                <span>WELCOME TO THE</span>
                <h2>
                    <span> New Yenagoa City</span>
                </h2>
                <i class="" style="text-">bringing luxury to the heart of Yenagoa</i><br>
                <p class="hidden-xs">A 171 hectare development located close to Government House.<br>This Bayelsa State Government initiative features 3 housing developments, a golf course, luxury
                    hotel and VIP heliport.</p>
                {# <a href="#features" class="btn btn-lg btn-primary btn-scroll mt30">About us</a> #}
            </div>
            {#
            <a href="#features" class="scroll-btn">
                <i class="ion-chevron-down"></i>
            </a> #}

        </div>
    </div>
    
    <div class="container-fluid">


           <div class="mt5 mb5" style="margin: 0 auto; display: inline-block; text-align:center; width:100%">
                <a href="#features" class="btn btn-sm btn-light" style="text-align:center; position:relative; z-index:q0; margin: 0 auto;" data-toggle="modal" data-target="#myModal">View Gallery</a> 
            </div> 
           
               
        <div class="row">
            
              
            

       
        <br>
            <a href="{{'properties'|page}}" >
                <div class="col-md-4" style="padding:10px; background:url({{'assets/img/homes.jpg'|theme}}); background-position: right 0px bottom 0px;">
                    <div style="width:100%;height:100%; padding:15px; background: rgba(0,0,0,0.5)">
                        <div style="text-align:center; color:#fff !important;">
                            <h3 style="color:#fff">Properties</h3> 
                            <ul class="home-ul">
                                <li>Golf Estate</li>
                                <li>The GRA</li>
                                <li>Riverview Estate</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a>
            <a href="{{'leisure'|page}}">
                <div class="col-md-4" style="padding:10px; background:url({{'assets/img/golf.jpg'|theme}}); background-position: right 0px bottom -80px;">
                    <div style="width:100%; height:100%; padding:15px; background: rgba(0,0,0,0.5)">
                        <div style="text-align:center; color:#fff !important;">
                            <h3 style="color:#fff">Leisure</h3> 
                            <ul class="home-ul">
                                <li>Castle Hotel</li>
                                <li>Golf Course</li>
                                <li>Polo Club</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </a> 
            <a href="{{'amenities'|page}}">
            <div class="col-md-4" style="padding:10px;background:url({{'assets/img/amenities.jpg'|theme}}); background-position: right -100px bottom -250px;">
                <div style="width:100%; height:100%; padding:15px; background: rgba(0,0,0,0.5)">
                    <div style="text-align:center; color:#fff !important;">
                        <h3 style="color:#fff">Amenities</h3> 
                        <ul class="home-ul">
                            <li>Heliport</li>
                            <li>Shopping Mall</li>
                            <li>Health Centre</li>
                        </ul>
                        
                    </div>
                </div>
            </div></a>
        </div>
        
    </div>

</section>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body">

        <div class="row">
            <div class="home-gallery">
                <div class="col-md-4"><a href="{{'assets/img/gallery/1.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gallery/1.jpg'|theme}}" class="img-responsive" alt=""></a></div>
                <div class="col-md-4"><a href="{{'assets/img/gallery/2.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gallery/2.jpg'|theme}}" class="img-responsive" alt=""></a></div>
                <div class="col-md-4"><a href="{{'assets/img/gallery/3.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gallery/3.jpg'|theme}}" class="img-responsive" alt=""></a></div>
                <div class="col-md-4"><a href="{{'assets/img/gallery/4.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gallery/4.jpg'|theme}}" class="img-responsive" alt=""></a></div>
                <div class="col-md-4"><a href="{{'assets/img/gallery/5.JPG'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gallery/5.JPG'|theme}}" class="img-responsive" alt=""></a></div>
                <div class="col-md-4"><a href="{{'assets/img/gallery/6.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gallery/6.jpg'|theme}}" class="img-responsive" alt=""></a></div>
                <div class="col-md-4"><a href="{{'assets/img/gallery/7.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gallery/7.jpg'|theme}}" class="img-responsive" alt=""></a></div>
                <div class="col-md-4"><a href="{{'assets/img/gallery/8.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gallery/8.jpg'|theme}}" class="img-responsive" alt=""></a></div>
                <div class="col-md-4"><a href="{{'assets/img/gallery/9.JPG'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gallery/9.JPG'|theme}}" class="img-responsive" alt=""></a></div>
            </div>
        </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>