title = "Leisure"
url = "/leisure"
layout = "default"
==
<section id="features" class="pt130 pb110 leisure">
    <div class="container">
        <div class="row">

            <div class="col-md-8 section-heading pb0">
                <h2 style="color: white">NYC Leisure</h2>
                <hr class="separator">
            </div>

            <div class="col-md-10 mr-auto text-center">
                <div class="icon-tabs-centered">

                    {#
                    <ul id="iconTabs" class="nav nav-tabs nav-tabs-center">
                        <li class="active">
                            <a href="#tab-i1" data-toggle="tab">
                                <span class="icon-tab ion-ios-flask-outline"></span>
                                <span>Experiences</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab-i2" data-toggle="tab">
                                <span class="icon-tab ion-ios-bolt-outline"></span>
                                <span>Capabilities</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab-i3" data-toggle="tab">
                                <span class="icon-tab ion-ios-infinite-outline"></span>
                                <span>Our Strategy</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab-i4" data-toggle="tab">
                                <span class="icon-tab ion-ios-mic-outline"></span>
                                <span>Our Mission</span>
                            </a>
                        </li>
                    </ul> #}

                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="tab-i1" style="color: white">
                            <p style="color: white">The New Yenegoa City is also designed for fun and leisure with:
                                <br>
                                <b>The Luxury Hotel</b>,
                                <b>The Golf Course</b> and
                                <b>The Polo Club</b>.
                            </p>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Features -->

<section class="pt100 pb100">
    <div class="container">
        <div class="row">

            <div class="col-md-8 section-heading pb0">

                <h3>Castle Hotel</h3>
                <hr class="separator">

                <div>
                    <p>
                        Castle Hotel & Spa is a luxury boutique hotel, located at the centre of the New Yenagoa City. It has been tastefully set
                        up to cater the highest cadre of Yenagoa’s society, and to international clientele. The hotel comprises
                        26 unique VIP suites, designed with provisions for security entourages. Each suite has a master bedroom,
                        dining room and anteroom. For larger retinues, an entire wing of suites can be closed off for greater
                        exclusivity
                    </p>
                </div>
            </div>

            <div class="col-md-9 col-sm-12 mt40">
                <div class="portfolio-no-gutter-fullwidth cbp" id="js-grid-no-gutter">

                    <div class="cbp-item cbp-item-important print branding">
                        <a href="{{'assets/img/castle/1gardens.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/1gardens.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design graphic">
                        <a href="{{'assets/img/castle/2Bedroom.JPG'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/2Bedroom.JPG'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print branding">
                        <a href="{{'assets/img/castle/3golf.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/3golf.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print branding">
                        <a href="{{'assets/img/castle/4Chapel.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/4Chapel.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print graphic">
                        <a href="{{'assets/img/castle/5Lobby.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/5Lobby.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design branding">
                        <a href="{{'assets/img/castle/6lwg.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/6lwg.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design branding">
                        <a href="{{'assets/img/castle/7Bathroom.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/7Bathroom.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design branding">
                        <a href="{{'assets/img/castle/8Castle.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/8Castle.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design branding">
                        <a href="{{'assets/img/castle/9Spa.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/castle/9Spa.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="col-md-3 mt30">
                                <div class="panel-group accordian-style1 mb0" id="accordion">
                                    <!-- First Panel -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapseOne">
                                                Restaurants &amp; Fine Dining
                                            </button>
                                        </div>
                                        <div id="collapseOne" class="panel-collapse collapse">
                                            <div class="panel-body" style="font-size:12px">
                                                The hotel features a fine dining speciality restaurant, and an all day restaurant. In keeping with 5 star hotel requirements,
                                                the all day restaurant offers a 24 hour service. Private dining rooms are
                                                available for dinner parties and celebrations
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Second Panel -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapseTwo">
                                                Spa &amp; Wellness Centre
                                            </button>
                                        </div>
                                        <div id="collapseTwo" class="panel-collapse collapse">
                                            <div class="panel-body" style="font-size:12px">
                                                The Spa features a 40 m swimming pool, jacuzzi, sauna, steam room and 6 treatment rooms. <br> For a relaxing experience,
                                                The Wellness Centre features an outdoor jacuzzi amid a landscaped garden, serviced
                                                by an outdoor bar. <br>It’s a perfect way to unwind after a long day. <br>Exercise options include tennis, championship level squash
                                                courts and 2 gyms.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Third Panel -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapseThree">
                                                The Business Centre
                                            </button>
                                        </div>
                                        <div id="collapseThree" class="panel-collapse collapse">
                                            <div class="panel-body" style="font-size:12px">
                                                The Business Centre features a complete alternative office experience, with private office spaces, meeting rooms, and a 150
                                                seater board room. Resident guests also have access to private meeting rooms
                                                on the upper floors.<br>With dedicated internet, office equipment, and helpful
                                                staff, The Business Centre offers an ideal workspace.
                                            </div>
                                        </div>
                                    </div>

                                    <!-- Fourth Panel -->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <button class="panel-title collapsed" data-toggle="collapse" data-target="#collapseFour">
                                                Weddings &amp; Events
                                            </button>
                                        </div>
                                        <div id="collapseFour" class="panel-collapse collapse">
                                            <div class="panel-body" style="font-size:12px">
                                                The Castle Hotel is an ideal location for destination weddings There is a dedicated chapel for wedding ceremonies, seating
                                                150 guests. For the reception, there is a banquet space with capacity for
                                                210 diners. Round off the evening in the pagoda gardens with an open air
                                                bar and bandstand dancing area.
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            

                        
                    

                
            </div>

        </div>
        <div class="row">
            <div class="col-md-12 mr-auto">
                <div class="mr-auto mt40" style="text-align:center">
                    <a href="{{'/contact'}}" class="btn btn-primary">Make a reservation</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="bg-grey">
    <div class="container pt40 pb40">
        <div class="vertical-align">

            <div class="col-md-6 text-left pr0 ">
                <h3>Golf Course</h3>
                <i style="font-size:13px">The Golfing Greens - a perfect way to unwind</i>
                <p style="font-size:13px">The 9hole golf course, has been designed to appeal to international golf lovers. It has been designed and
                    built to become eligible for Golf Association Tournaments, with sophisticated drainage to accommodate
                    local climate conditions.</p>
                <p style="font-size:13px">The Golf Course enjoys proximity to the Castle Hotel, and visiting players</p>

                <br>
                <h3>Polo Club</h3>
                <p style="font-size:13px">The Polo Grounds feature a 300 x 150 ft grass pitch, 24 comfort stables, and 200 seater viewing stand.
                    <br>
                    <br> The Polo club offers training classes for Bayelsans that are keen to learn the sport and invest in horses.
                    The will host an annual Polo competition, inviting professional and amateur players from around the country.
                    <br>
                    <br> Being a short distance away, the Castle Hotel offers ideal accommodation for participants and spectators
                    alike.
                </p>

            </div>

            <div class="col-md-6">
                <div class="home-gallery">
            
            <div class="col-md-4"><a href="{{'assets/img/gp/gp4.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gp/gp4.jpg'|theme}}" class="img-responsive" alt=""></a></div>
            <div class="col-md-4"><a href="{{'assets/img/gp/gp1.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gp/gp1.jpg'|theme}}" class="img-responsive" alt=""></a></div>
            <div class="col-md-4"><a href="{{'assets/img/gp/gp2.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gp/gp2.jpg'|theme}}" class="img-responsive" alt=""></a></div>
            <div class="col-md-4"><a href="{{'assets/img/gp/gp3.JPG'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gp/gp3.JPG'|theme}}" class="img-responsive" alt=""></a></div>
            <div class="col-md-4"><a href="{{'assets/img/gp/gp5.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gp/gp5.jpg'|theme}}" class="img-responsive" alt=""></a></div>
            <div class="col-md-4"><a href="{{'assets/img/gp/gp6.jpg'|theme}}"  data-lightbox="gallery"><img src="{{'assets/img/gp/gp6.jpg'|theme}}" class="img-responsive" alt=""></a></div>
            </div>
                
                {# <div class="portfolio-no-gutter-fullwidth cbp" id="js-grid-no-gutter">
                    <div class="cbp-item cbp-item-important print branding">
                        <a href="{{'assets/img/gp/gp4.JPG'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/gp/gp4.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item cbp-item-important print branding">
                        <a href="{{'assets/img/gp/gp6.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/gp/gp6.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item cbp-item-important print branding">
                        <a href="{{'assets/img/gp/gp5.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/gp/gp5.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print branding">
                        <a href="{{'assets/img/gp/gp3.JPG'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/gp/gp3.JPG'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item print graphic">
                        <a href="{{'assets/img/gp/gp2.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/gp/gp2.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="cbp-item web-design branding">
                        <a href="{{'assets/img/gp/gp1.jpg'|theme}}" class="cbp-lightbox cbp-caption">
                            <div class="cbp-caption-defaultWrap">
                                <img src="{{'assets/img/gp/gp1.jpg'|theme}}">
                            </div>
                            <div class="cbp-caption-activeWrap">
                                <div class="cbp-l-caption-alignCenter">
                                    <div class="cbp-l-caption-body">
                                        <div class="cbp-l-caption-title">
                                            <i class="icon-magnifying-glass size-1x"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div> #}
            </div>



        </div>

        <div class="row">
            <div class="col-md-12 mr-auto">
                <div class="mr-auto mt40" style="text-align:center">
                    <a href="{{'/contact'}}" class="btn btn-primary">Book a Tee Time</a>
                </div>
            </div>
        </div>
    </div>
</section>


