title = "Properties"
url = "/properties"
layout = "default"
==
{# <!-- Hero -->
<section class="hero-fullscreen parallax overlay bg-img-1">
    <div class="hero-container container">
        <div class="hero-content text-center">

            <div class="col-sm-12 mr-auto white text-center pt20">
                <p class="subheading">We Set You Apart To Grow Online</p>
                <h1 class="large">Let us help you build &amp; brand
                    <br>your success online.</h1>
                <p class="mt20 hidden-xs">We create experiences that transform brands, grow businesses and make
                    <br>people’s lives better. We are dedicated to your success!</p>
                <a href="#features" class="btn btn-lg btn-primary btn-circle btn-scroll mt40">We're Creative</a>
            </div>
            <a href="#features" class="scroll-btn">
                <i class="ion-chevron-down"></i>
            </a>

        </div>
    </div>
</section> #}
<!-- End Hero -->

<!-- Features -->
<section id="features" class="pt130 pb100 properties">
    <div class="container">
        <div class="row">

            <div class="col-md-8 section-heading pb0">
                <h2 style="color: white">NYC Properties</h2>
                <hr class="separator">
            </div>

            <div class="col-md-10 mr-auto text-center">
                <div class="icon-tabs-centered">

                    {#
                    <ul id="iconTabs" class="nav nav-tabs nav-tabs-center">
                        <li class="active">
                            <a href="#tab-i1" data-toggle="tab">
                                <span class="icon-tab ion-ios-flask-outline"></span>
                                <span>Experiences</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab-i2" data-toggle="tab">
                                <span class="icon-tab ion-ios-bolt-outline"></span>
                                <span>Capabilities</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab-i3" data-toggle="tab">
                                <span class="icon-tab ion-ios-infinite-outline"></span>
                                <span>Our Strategy</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="#tab-i4" data-toggle="tab">
                                <span class="icon-tab ion-ios-mic-outline"></span>
                                <span>Our Mission</span>
                            </a>
                        </li>
                    </ul> #}

                    <div id="myTabContent" class="tab-content">

                        <div class="tab-pane fade active in" id="tab-i1" style="color: white">
                            <p style="color: white">The New Yenegoa City offers 3 premium housing developments:
                                <br>
                                <b>The Golf Estate</b>,
                                <b>The New GRA</b>, and
                                <b>River View Estate</b>.
                                <br> All estates enjoy proximity to the Golf Course, Polo Club, Boat Club, Bayelsa Heliport,
                                Castle Hotel & Spa, Shopping Mall and Health Centre.
                                <br> They offer quiet, secure, and well organised neighbourhoods with many options for exercise.
                            </p>
                        </div>
                        <br>
                        <a href="{{'assets/img/sitemap.pdf'|theme}}" target="_blank" class="btn btn-md btn-dark btn-circle">Click to Enlarge Image</a>
                        {#
                        <div class="tab-pane fade" id="tab-i2">
                            <p>We partner with clients to determine where and how to compete by rapidly immersing into an industry
                                or problem space and facilitating a series of workshops to identify opportunities, generate
                                and prioritize ideas, and prototype and test product and service concepts.
                                <br>We determine an optimal mix of revenue models.</p>
                        </div>
                        <div class="tab-pane fade" id="tab-i3">
                            <p>Sed scelerisque urna id scelerisque tincidunt. Sed scelerisque laoreet dolor sed aliquam. Duis
                                at eros vehicula, sollicitudin magna elementum, pretium diam. Vivamus bibendum fringilla
                                mauris et rhoncus. Phasellus mattis egestas risus ac tempor. Fusce faucibus tincidunt nulla,
                                scelerisque urna id scelerisque tincidunt sagittis magna venenatis quis.</p>
                        </div>
                        <div class="tab-pane fade" id="tab-i4">
                            <p>Sed scelerisque urna id scelerisque tincidunt. Sed scelerisque laoreet dolor sed aliquam. Duis
                                at eros vehicula, sollicitudin magna elementum, pretium diam. Vivamus bibendum fringilla
                                mauris et rhoncus. Sed scelerisque urna id scelerisque tincidunt. Phasellus mattis egestas
                                risus ac tempor. Nam dapibus sodales ornare.</p>
                        </div> #}

                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
<!-- End Features -->

<!-- About -->
<section class="bg-grey">
    <div class="container pt40 pb40">
        <div class="vertical-align">

            <div class="col-md-6 text-left pr30 mt40 mb40">
                <h2>Golf Estate</h2>
                <p>The Golf Estate is a premium residential development bordering Bayelsa’s first Golf course. The gated community
                    offers all the the premium amenities that make living easy in Nigeria. Along with tight security, constant
                    water and guaranteed 24 hour electricity, the estate offers residents a serene environment amidst the
                    golfing greens, with areas dedicated to recreation, cycling and exercise. The estate offers 2 to 5 bedroom
                    units as apartments and detached houses. Buyers of detached units will have several design options to
                    choose from. Residents will also enjoy proximity to the Golf Course, Polo Club, Castle Hotel, and Government
                    House. Bayelsa Heliport is short distance away, improving travel options for residents.</p>
                <h4>Payment Schedule</h4>
                <p>
                    <b>Allocation Fee:</b> N25,000,000
                    <br>
                    <b>Payment:</b> Mortgage Available
                    <br>
                    <b>Title:</b> Certificate of Occupancy</p>

                <div class="col-md-3">
                    <a href="#" class="btn btn-md btn-ghost btn-circle">Download Application Form</a>
                    <a href="#" class="btn btn-md btn-ghost btn-circle">Schedule a Visit</a>
                </div>


            </div>





            <div class="col-md-6  mt50 mb50">
                <div class="">
                    <img class="img-responsive" src="{{'assets/img/golfestate2.jpg'|theme}}" alt=""> {#
                    <iframe src="http://player.vimeo.com/video/115919099?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" allowfullscreen></iframe> #}
                </div>
            </div>

        </div>
    </div>
</section>
<!-- End About -->

<!-- Skills -->
<section class="pb40">
    <div class="container">
        <div class="vertical-align">
            <div class="slider-block-1 owl-carousel navigation-thin pagination-in">
                <div class="row">
                    <div class="col-md-6 md-pr20pl">
                        <img src="{{'assets/img/2bed.png'|theme}}" class="img-responsive mr-auto">
                        <h2>Two Bedroom Unit</h2>
                        <h4 class="subheading">Apartment</h4>
                        <p class="mt30">
                            <b>No of Units Available:</b> 48
                            <br>
                            <b>Unit Price:</b> N45,053,000</p>
                    </div>


                    <div class="col-md-6">
                        <img src="{{'assets/img/3.jpg'|theme}}" class="img-responsive mr-auto">
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <img src="{{'assets/img/3.jpg'|theme}}" class="img-responsive mr-auto">
                    </div>

                    <div class="col-md-6 md-pl20pl">
                        <img src="{{'assets/img/3bed.png'|theme}}" class="img-responsive mr-auto">
                        <h2>Three Bedroom Unit</h2>
                        <h4 class="subheading">Apartment</h4>
                        <p class="mt30">
                            <b>No of Units Available:</b> 40
                            <br>
                            <b>Unit Price:</b> N60,382,000</p>
                    </div>


                </div>

                <div class="row">
                    <div class="col-md-6 md-pr20pl">
                        <img src="{{'assets/img/4bed.png'|theme}}" class="img-responsive mr-auto">
                        <h2>Four Bedroom Unit</h2>
                        <h4 class="subheading">Detached</h4>
                        <p class="mt30">
                            <b>No of Units Available:</b> 30
                            <br>
                            <b>Unit Price:</b> N91,933,000</p>
                    </div>

                    <div class="col-md-6">
                        <img src="{{'assets/img/3.jpg'|theme}}" class="img-responsive mr-auto">
                    </div>
                </div>

                <div class="row">

                    <div class="col-md-6">
                        <img src="{{'assets/img/1.jpg'|theme}}" class="img-responsive mr-auto">
                    </div>

                    <div class="col-md-6 md-pl20pl">
                        <img src="{{'assets/img/5bed.png'|theme}}" class="img-responsive mr-auto">
                        <h2>Five Bedroom Unit</h2>
                        <h4 class="subheading">Detached</h4>
                        <p class="mt30">
                            <b>No of Units Available:</b> 29
                            <br>
                            <b>Unit Price:</b> N112,920,000</p>
                    </div>


                </div>
            </div>


        </div>
    </div>
</section>
<!-- End Skills -->

<section class="bg-grey">
    <div class="container pt40 pb40">
        <div class="vertical-align">

            <div class="col-md-6 text-left pr30 mt40 mb40">
                <h2>The New GRA</h2>
                <p>
                    Over 200 hectares of land have been earmarked for the development of a Government Residential
                    Area in Bayelsa State. Design priorities for this area are a well drained road network, potable
                    water, well planned access to the National Grid, and security. Residents will benefit from ready
                    access to a Health Centre, schooling complex (creche, primary and secondary), Shopping Mall
                    (with supermarket, pharmacy and food court). The GRA is located on a well secured island, with a
                    purpose-built Police Station and Fire Station offering both security and safety. For entertainment,
                    the nearby Castle Hotel offers a gym, spa, casino, 5 restaurants, and Events area for parties.
                </p>
                <h4>Payment Schedule</h4>
                <p>
                    <b>Allocation Fee:</b> N4,000,000
                    <br>
                    <b>Payment:</b> Outright: 5% discount; installmental payment available
                    <br>
                    <b>Title:</b> Certificate of Occupancy</p>

                <div class="col-md-3">
                    <a href="#" class="btn btn-md btn-ghost btn-circle">Download Application Form</a>
                    <a href="#" class="btn btn-md btn-ghost btn-circle">Schedule a Visit</a>
                </div>


            </div>





            <div class="col-md-6  mt50 mb50">
                <div class="">
                    <img class="img-responsive" src="{{'assets/img/thenewgra2.jpg'|theme}}" alt=""> {#
                    <iframe src="http://player.vimeo.com/video/115919099?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" allowfullscreen></iframe> #}
                </div>
            </div>

        </div>
    </div>
</section>


<section>
    <div class="container pt40 pb40">
        <div class="vertical-align">

            <div class="col-md-6  mt50 mb50">
                <div class="">
                    <img class="img-responsive" src="{{'assets/img/riverview2.jpg'|theme}}" alt=""> {#
                    <iframe src="http://player.vimeo.com/video/115919099?title=0&amp;byline=0&amp;portrait=0&amp;color=fff" allowfullscreen></iframe> #}
                </div>
            </div>

            <div class="col-md-6 text-left pr30 mt40 mb40">
                <h2>River View Estate</h2>
                <p>
                    River View Estate is a development at the meeting point of the Ekole creek and Epie
                    creek. Located within a Government designated conservation area, residents will enjoy
                    the serenity and calming qualities of the aquatic surroundings, alongside tight security
                    and safety. It offers boating enthusiast the opportunity to own and develop waterfront
                    property with moorings for the boats.
                </p>
                <h4>Payment Schedule</h4>
                <p>
                    <b>Allocation Fee:</b> N25,000,000
                    <br>
                    <b>Payment:</b> Mortgage Available
                    <br>
                    <b>Title:</b> Certificate of Occupancy</p>

                <div class="col-md-3">
                    <a href="#" class="btn btn-md btn-ghost btn-circle">Download Application Form</a>
                    <a href="#" class="btn btn-md btn-ghost btn-circle">Schedule a Visit</a>
                </div>


            </div>

        </div>
    </div>
</section>






